@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap"');
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

/*----------------------------------------NAVBAR-------------------------------------*/

body {
	padding: 0;
	margin: 0;
}

img {
	display: block;
	width: 100%;
}

nav {
	position: sticky;
	z-index: 30;
	left: 0;
	right: 0;
	top: 0;
	font-family: "Josefin Sans", sans-serif;
	padding: 0 9%;
	height: 100px;
	background-color: #1F72A6;
}

nav .logo {
	float: left;
	height: 100%;
	display: flex;
	align-items: center;
}

nav .links {
	float: right;
	padding: 0;
	margin: 0;
	width: 60%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

nav .links li {
	list-style: none;
}

nav .links a {
	display: block;
	padding: 1em;
	font-size: 16px;
	font-weight: bold;
	color: #E8E9E4;
	text-decoration: none;
	transition: color 0.2s ease-in;
}

nav .links a:hover {
	color: #A9ED14;
	transition: color 0.2s ease-in;
}



/*----------------------------------HEADER-------------------------------------------*/

.main-image {
	position: relative;
	background: url(img/kleine-bude-header.jpg) no-repeat center;
	height: 480px;
	width: 100%;
	overflow: hidden;
}

.container-header {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-family: "Josefin Sans", sans-serif;
	color: #ddd4cc;
	width: 100%;
}

.container-header span {
	font-size: 26px;
	line-height: 1.7;
}

h1 {
	font-size: 50px;
	margin: 0px;
}

h3 {
	font-size: 30px;
	font-family: "Josefin Sans", sans-serif;
	color: #1f0e0e;
	margin-bottom: 10px;
	margin-top: 0;
}



/*----------------------------------CONTENT-------------------------------------------*/

.contentimg {
	background-color: #E8E9E4;
	padding: 70px 9% 70px 9%;
	color: #191905;
	display: inline-block;

}

.content {
	background-color: #E8E9E4;
	padding: 70px 9% 70px 9%;
	color: #191905;
	display: ;

}


h2 {
	font-size: 26px;
	font-family: "Josefin Sans", sans-serif;
	margin: 0;
}

p {
	font-size: 15px;
	line-height: 1.3;
	font-family: "Jost", sans-serif;
	width: 48%;
	display: inline-block;
	padding-right: 4%;
}

.angebot {
	font-size: 15px;
	line-height: 1.3;
	font-family: "Jost", sans-serif;
	width: 100%;
	display: inline-block;
}

.angebot td, {
	padding-top: 20px;
	padding-right: 20px;
	width: 33%;
}

.zeiten {
	font-size: 15px;
	line-height: 1.3;
	font-family: "Jost", sans-serif;
	width: 100%;
}

.zeiten td, {
	padding-top: 20px;
	padding-right: 20px;
}

.contentimg img {
	width: 48%;
	height: auto;
	float: right;
	display: block;
	vertical-align: top;
	display: inline-block;
}

.map {
	width: 50%;
}

/*----------------------------------FORM-------------------------------------------*/

.bestellen {
	background-color: #E8E9E4;
	padding: 70px 9% 70px 9%;
	color: #191905;
	display: block;
}

form {
	padding-top: 20px;
	font-size: 15px;
	line-height: 1.3;
	font-family: "Jost", sans-serif;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: none;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #1F72A6;
  color: #E8E9E4;
  padding: 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  font-family: "Josefin Sans", sans-serif;
  font-size: 15px;
  transition: 0.2s ease-in;
}

input[type=submit]:hover {
  background-color: #A9ED14;
	color: #191905;
	transition: 0.2s ease-in;
}


/*----------------------------------BUTTON-------------------------------------------*/

button {
	float: left;
	background-color: #1F72A6;
  border: none;
  color: #E8E9E4;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 20px 0px;
  font-size: 15px;
  font-family: "Josefin Sans", sans-serif;
  transition: 0.2s ease-in;
}

button:hover {
	background-color: #A9ED14;
	color: #191905;
	transition: 0.2s ease-in;
}


/*----------------------------------FOOTER-------------------------------------------*/

footer {
	height: 300px;
	background-color: #191905;
}

.logo-footer {
	display: block;
	justify-content: center;
	align-items: center;
	padding-top: 58px;
	padding-bottom: 15px;
}

footer a {
	font-size: 16px;
	line-height: 2.2;
	font-family: "Josefin Sans", sans-serif;
	color: #ddd4cc;
	padding: 10px ;
	text-align: center;	
	text-decoration: none;
	transition: color 0.2s ease-in;
}

.footer-links {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	font-weight: bold;
}

.footer-links a:hover {
	color: #A9ED14;
	transition: color 0.2s ease-in;
}
